#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
Django
django-crispy-forms
djangorestframework
markdown
django-filter
pillow
django-admin-sortable2
django-ckeditor
psycopg2
gunicorn
whitenoise
django-storages